@using EvaluationApp.Web.Models
@model string

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get">
    <label for="site">URL</label>
    <input type="text" name="site" />
    <input type="submit" name="name" value="Create sitemap" />   
</form>

@if (ViewBag.Sitemap != null)
{
    foreach(UrlResponseStatModel url in ViewBag.Sitemap)
    {
        <span>@url.Url</span>
        <span>@url.ResponseTimeMs</span>
        <br />
    }
}